<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.ProgressDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/reservaciones</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="com/reservaciones/mapeos/Permisos.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/RolesUsuarios.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/Usuarios.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/Roles.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/PermisosAcciones.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/PermisoAcciones.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/RolesPermisos.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/reserv/Paises.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/reserv/EstadoObjetoReservable.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/reserv/ObjetoReservable.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/reserv/Categoria.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/reserv/Reservas.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/reserv/Motivo.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/reserv/Consumo.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/reserv/Servicios.hbm.xml"/>
    <mapping resource="com/reservaciones/mapeos/reserv/Historico.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
